<!DOCTYPE html>
<html lang="en">
<head>
    <%# heads %>
    <%- include('./heads', {head_title: '買ったものSNS - お気に入りの投稿'}) %>
</head>
<body class="ht-body">
    <%# header %>
    <%- include('./header') %>

    <div class="ht-main">
        <div class="ht-tm-wrapper">
            <div class="container ht-tm-container">
                <div class="row">
                    <div class="col-xl-9">
                        <div id="ht-tm-maincolumn" class="ht-tm-maincolumn">
                            <div class="ht-tm-conponentsblock">
                                <div class="ht-tm-cat">
                                    <h4 class="ht-tm-cat-title"><%= name %>(ID: <%= id %>)のお気に入りの投稿</h4>
                                    <div class="row">
                                        <% posts.forEach(post => { %>
                                            <%- include('./postcard', {post: post}) %>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>